{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Flamengo - {% block title %} {% endblock title  %} </title>
    <link rel="stylesheet" href="{% static 'website/css/style.css' %}">
</head>
<body >
    
    <nav class="navbar">
        <div class="logo-area">
            <img src="{% static 'website/img/Flamengo.png' %}" alt="Logo Flamengo" class="logo">
            <span class="team-name">Clube de Regatas do Flamengo</span>
        </div>

        <ul class="menu">
            <li><a href="{% url 'index' %}">Página Inicial</a></li>
            <li><a href="{% url 'elenco' %}">Elenco</a></li>
            <li><a href="{% url 'sobre' %}">Sobre</a></li>
        </ul>
    </nav>
    {% block content %}{% endblock content %}

    <footer class="footer">
        <p>&copy; 2025 Clube de Regatas do Flamengo. Todos os direitos reservados.</p>
        <p>Desenvolvido por<a href="https://github.com/cesarfcg" target="_blank"> Fernando César Campos Gonzaga</a></p> 
    </footer>
</body>
</html>
