{% extends "website/base.html" %}
{% load static %}
{% block title %}Início{% endblock title %}
{% block content %}
{% comment "introducao" %}Introdução: coloquei a introudução em um dicionário e não dividi em "informações da introdução" pq possíveis informações como história ou fundação não se mexem.{% endcomment %}
<h1 class="titulo">Clube de Regatas do Flamengo</h1>
    <div class="introducao-caixa">
        <p>{{ introducao.introducao }}</p>
    </div>
    
<h1 class="titulo">Notícias</h1>
<section class="noticias">
    {% for noticia in noticias %}
         <a href="{% url "noticia" noticia.id %}">
        <article class="noticia-card">
            <img src="{% static noticia.imagem %}" alt="noticia.titulo" class="noticia-imagem">
            <h3 class="noticia-titulo">{{noticia.titulo}}</h3>
            <p class="noticia-data">{{noticia.data}}</p>
            <p class="noticia-resumo">{{noticia.resumo}}</p>
        </article>
        </a>
    {% endfor %}
</section>

<h1 class="titulo">Jogos</h1>
<div class="jogos-layout">
    
    <section class="ultimos-jogos">
        <h2>Últimos Jogos</h2>
        {% for jogo in ultimos_jogos %}
        <div class="jogo-card">
            <p><strong>{{ jogo.data }}</strong> - {{ jogo.campeonato }}</p>
            <p>{{ jogo.time_casa }} {{ jogo.placar_casa }} x {{ jogo.placar_visitante }} {{ jogo.time_visitante }}</p>
            <p><em>{{ jogo.estadio }}</em></p>
        </div>
        {% endfor %}
    </section>

    <aside class="proximo-jogo">
        <h2>Próximo Jogo</h2>
        <div class="jogo-card destaque">
            <p><strong>{{ proximo_jogo.data }}</strong> - {{ proximo_jogo.campeonato }}</p>
            <p>{{ proximo_jogo.time_casa }} x {{ proximo_jogo.time_visitante }}</p>
            <p><em>{{ proximo_jogo.estadio }}</em></p>
        </div>
    </aside>

</div>
{% endblock content %}