{% extends "website/base.html" %}
{% load static %}
{% block title %}{{jogadores.nome_camisa}}{% endblock title %}
{% block content %}
    <h1 class="titulo">Atleta: {{ jogadores.nome_camisa }} </h1>
        
       
        <div class="jogador-detalhe" {% if jogadores.posicao == "TEC" %}style="background-color:rgb(175, 9, 9)"{% endif %}>
            <img src="{{jogadores.imagem.url}}" alt="{{ jogadores.nome_camisa }}" class="foto-jogador">
            <div class="info-jogador">
                <h3>{{ jogadores.nome_completo  }}</h3>
                <p ><strong>Posição:</strong> {{ jogadores.posicao }}</p>
                <p><strong>Idade:</strong> {{ jogadores.idade }} anos</p>
                <p><strong>Local de nascimento:</strong> {{ jogadores.local_nascimento }} </p>
                <p><strong>Nacionalidade:</strong> {{ jogadores.nacionalidade }} </p>
            </div>
        </div>
   
{% endblock content %}