{% extends "website/base.html" %}
{% load static %}
{% block title %}Sobre{% endblock title %}
{% block content %}
<div class="sobre-container">
    <h1>Sobre o site</h1>
    {% for inf in sobre  %}
    <p>{{sobre.info}}  </p>
   
    
    <ul class="info-sobre">
        <a href="{% url "index" %}"><li >Informações e notícias sobre o clube</li></a>
        <a href="{% url "elenco" %}"><li >Apresentação de jogadores do elenco</li></a>
        <li >Informações detalhadas sobre cada jogador</li>
    </ul>

    <hr>
    {% for autor in autores %}
    <h2>Sobre o Autor</h2>
    <p><strong>Nome:</strong> {{autor.nome}}</p>
    <p><strong>Email:</strong> <a href="mailto:fernandocesar4141@gmail.com">{{autor.email}}</a></p>

    <p>O projeto foi desenvolvido com fins educacionais e para prática de programação web utilizando:</p>
    <ul>
        <li>Django (Python)</li>
        <li>HTML5 e CSS3</li>
    </ul>
    {% endfor %}
    <hr>

    <h2>Créditos</h2>
    <p>{{creditos.creditos}}</p>
    {% endfor %}
</div>

{% endblock content %}
